---
import { Image } from "astro:assets";
import IssaminuLogo from "../assets/Issaminu Logo LIGHT.png";
import Layout from "../layouts/Layout.astro";

const date = new Date();
const age = date.getFullYear() - 2003 - (date.getMonth() < 1 ? 1 : 0);
---

<Layout title="Issam Boubcher">
  <main>
    <div class="">
      <div class="flex flex-row justify-between mt-16">
        <Image
          src={IssaminuLogo}
          alt="Issaminu's logo"
          class="rounded-full w-24 h-24"
        />
        <div class="flex flex-col justify-center">
          <h1 class="text-4xl font-bold">Issam Boubcher</h1>
          <p class="text-gray-400 text-lg font-light">
            Distributed Computing Systems student at
            <a
              target="_blank"
              href="https://www.enset-media.ac.ma/"
              title="Ecole Normale Supérieure de l'Enseignement Technique"
            >
              <span
                class="text-white bg-gray-700 text-sm rounded-sm font-semibold tracking-widest hover:bg-sky-800 hover:text-white hover:shadow-md hover:font-extrabold transition duration-300 ease-in-out"
              >
                &nbsp;ENSET&nbsp;</span
              >
            </a>
          </p>
        </div>
      </div>
      <p class="text-gray-400 text-lg mt-8">
        Hello! I'm Issam, a {age} years old CS student from <a
          target="_blank"
          href="https://pbs.twimg.com/media/FyBexxLWwAAQneG?format=jpg&name=small"
          >Morocco</a
        >.<br />
        Welcome to my little corner of the internet where I share my journey with
        software and the ideas I learned along the way :)
      </p>
    </div>
  </main>
</Layout>
