---
import NavItem from "../components/NavItem.astro";
---

<div
  id="navbar"
  class="navbar flex flex-row justify-around sm:justify-start gap-4 sm:gap-8 items-center mt-6"
>
  <NavItem name="Blog" icon="newspaper" href="/blog" />
  <!-- <NavItem name="Projects" icon="code" href="/projects" /> -->
  <NavItem name="Twitter" icon="twitter" href="https://twitter.com/Issaminuu" />
  <NavItem name="GitHub" icon="github" href="https://github.com/Issaminu" />
  <NavItem
    name="LinkedIn"
    icon="linkedin"
    href="https://www.linkedin.com/in/issam-boubcher"
  />
</div>
