---
interface Props {
  name: string;
}
import { Icon } from "astro-icon/components";
import links from "../lib/links.json";
const { name } = Astro.props;
const iconName = name.toLowerCase().replace(/[\. \/]/g, "");  // removes all periods, spaces, and forward slashes from the string
const technologies: Record<string,string> = links;
---

<a href={technologies[iconName]} target="_blank" class="w-fit inline">
  <div
    class="bg-gray-800/40 hover:bg-gray-800 transition ease-in duration-200 font-medium px-2 md:px-1 py-0.5 md:text-xs rounded-md border border-sky-900/50 flex align-middle items-center justify-center"
  >
    <Icon name={iconName} class="inline-block w-4 h-4 mr-1 fill-white" />
    {name}
  </div>
</a>
