---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
}
const { name } = Astro.props;
const iconName = name.toLowerCase().replace(/\./g, "").replace(/\ /g, "");

const links: { [key: string]: string } = {
  astro: "https://astro.build",
  nextjs: "https://nextjs.org",
  svelte: "https://svelte.dev",
  react: "https://react.dev",
  tailwindcss: "https://tailwindcss.com",
  vercel: "https://vercel.com",
  php: "https://php.net",
  laravel: "https://laravel.com",
  shadcnui: "https://ui.shadcn.com",
  railway: "https://railway.app",
  go: "https://golang.org",
  typescript: "https://www.typescriptlang.org",
  javascript: "https://www.javascript.com",
  python: "https://www.python.org",
  java: "https://www.java.com",
  langchain: "https://langchain.org",
  rust: "https://www.rust-lang.org",
  mysql: "https://www.mysql.com",
  mongodb: "https://www.mongodb.com",
  redis: "https://redis.io",
  postgresql: "https://www.postgresql.org",
  sqlite: "https://www.sqlite.org",
  docker: "https://www.docker.com",
  cloudflare: "https://www.cloudflare.com",
  aws: "https://aws.amazon.com",
  azure: "https://azure.microsoft.com",
  gcp: "https://cloud.google.com",
  vscode: "https://code.visualstudio.com",
  reactnative: "https://reactnative.dev",
  nodejs: "https://nodejs.org",
  spring: "https://spring.io",
};
---

<a href={links[iconName]} target="_blank">
  <div
    class="bg-gray-800/40 hover:bg-gray-800 font-medium px-2 md:px-1 py-0.5 md:text-xs rounded-md border border-sky-900 flex align-middle items-center justify-center"
  >
    <Icon name={iconName} class="inline-block w-4 h-4 mr-1 fill-white" />
    {name}
  </div>
</a>
