---
import GradientBackground from "../components/GradientBackground.tsx";
import SpeedInsights from "@vercel/speed-insights/astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta
      name="description"
      content="Issam Boubcher is a Software Engineering and Distributed Computed Systems student at ENSET."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <link
      href="light-mode-favicon.ico"
      rel="icon"
      media="(prefers-color-scheme: light)"
    />
    <link
      href="dark-mode-favicon.ico"
      rel="icon"
      media="(prefers-color-scheme: dark)"
    />

    <meta name="generator" content={Astro.generator} />
    <SpeedInsights />
  </head>
  <body>
    <GradientBackground client:idle />
    <slot />
    <style is:global>
      @font-face {
        font-family: inter;
        src: url(/fonts/Inter-VariableFont_slnt,wght.woff2);
      }
      html {
        font-family: inter, system-ui, sans-serif;
        background: #212121;
        /* background-size: 224px; */
        color: #d2d4d5;
        cursor: default;
      }

      ::selection {
        background-color: #004576;
      }

      .silver-gradient {
        background-image: linear-gradient(to right, var(--tw-gradient-stops));
        --tw-gradient-from: #fff var(--tw-gradient-from-position);
        --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-via-position: 5%;
        --tw-gradient-to: #9ca3af var(--tw-gradient-to-position);
        background-clip: text;
        color: transparent;
      }

      .silver-gradient::selection {
        color: white;
      }

      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
    </style>
  </body>
</html>
